<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">标题1</div>
      <div class="item item-body">
        <div>
          内容01：There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">标题2</div>
      <div class="item item-body">
        <div>
         内容02：You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">标题3</div>
      <div class="item item-body">
        <div>
          内容03：You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
