<ion-view view-title="examples">
  <ion-content>
    <ion-list>
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" 
                ng-repeat="example in examples" 
                type="item-text-wrap" 
                 href="#/tab/examples/{{example.id}}">  -->
        <ion-item class="item-remove-animate item-avatar item-icon-right" 
                ng-repeat="example in examples" 
                type="item-text-wrap" 
                 ng-click=" get({{example.id}})">
        <img ng-src="{{example.face}}">
        <h2>{{example.name}}</h2>
        <p>{{example.text}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(example)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
